# Database (Neon)
DATABASE_URL="postgresql://neondb_owner:npg_7lJNwz2naGoT@ep-empty-star-alkle7me-pooler.c-3.eu-central-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend
RESEND_API_KEY=""
EMAIL_FROM="noreply@yourdomain.com"

# Bunny
BUNNY_API_KEY=""
BUNNY_STREAM_LIBRARY_ID=""
BUNNY_STREAM_API_KEY=""
BUNNY_STORAGE_ZONE=""
BUNNY_STORAGE_API_KEY=""
BUNNY_CDN_HOSTNAME=""

# Paymob
PAYMOB_SECRET_KEY=""
PAYMOB_PUBLIC_KEY=""
PAYMOB_HMAC_SECRET=""
PAYMOB_INTEGRATION_ID_CARD=""
PAYMOB_INTEGRATION_ID_WALLET=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
